
<p-toast></p-toast>
<div class="grid">

  <div class="col-12">
    <div class="card">
      <p-table #dt [value]="documents" (onLazyLoad)="loadDocuments($event)" [lazy]="true" dataKey="id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <div class="flex flex-column gap-3">
              <h5 class="m-0">Manage Documents</h5>
              <div class="field-checkbox">
                <p-checkbox [(ngModel)]="own" (click)="forceUpdateTable()" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary">Display only own documents</label>
              </div>
            </div>
            <button pButton (click)="newDocumentDialog()">Create New Document</button>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input #searchField pInputText type="text" placeholder="Global Search" (input)="dt.filterGlobal(searchField.value, 'contains')" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"><button class="p-button-sm p-button-text p-button-rounded p-button-plain" pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" (click)="expandAll()"></button></th>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="partnerName">Partner <p-sortIcon field="partnerName"></p-sortIcon></th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="validateStockAvailability">Blind <p-sortIcon field="validateStockAvailability"></p-sortIcon></th>
            <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document let-expanded="expanded">
          <tr>
            <td style="width:3%;">
              <button type="button" pButton pRipple [pRowToggler]="document" class="p-button-sm p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="width:14%; min-width:10rem;">{{document.id}}</td>
            <td style="width:30%; min-width: 12rem;">{{document.partnerName}}</td>
            <td style="width:10%; min-width: 8rem;"><i class="pi" [ngStyle]="{'color': document.direction > 0 ? 'red' : 'yellowgreen'}" [ngClass]="{'pi-arrow-up' : document.direction < 0, 'pi-arrow-down' : document.direction > 0}" style="font-size: 0.8rem"></i>
              {{document.price | currency:'EUR'}}</td>
            <td style="width:10%; min-width: 8rem;"><i class="pi" [ngClass]="{'pi-eye-slash' : !document.validateStockAvailability}" style="font-size: 1.5rem"></i></td>
            <td style="width:10%; min-width: 10rem;"><span class="p-column-title">Created</span>
              {{document.date | date: 'yyyy.MM.dd. HH:mm'}}
            </td>
            <td style="width:13%; min-width: 8rem;"><span [class]="'document-status-badge status-' + document.status.toLowerCase()">{{document.status}}</span></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-document>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="document.items" dataKey="productId" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="productId">Id <p-sortIcon field="productId"></p-sortIcon></th>
                      <th pSortableColumn="productName">Name <p-sortIcon field="productName"></p-sortIcon></th>
                      <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                      <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td style="width:10%;">{{item.productId}}</td>
                      <td style="width:30%;">{{item.productName}}</td>
                      <td style="width:10%;min-width: 8rem;"><i class="pi" [ngStyle]="{'color': document.direction > 0 ? 'yellowgreen' : 'red'}" [ngClass]="{'pi-arrow-up' : document.direction > 0, 'pi-arrow-down' : document.direction < 0}" style="font-size: 0.8rem"></i>
                        {{item.quantity}}</td>
                      <td style="width:14%;min-width: 8rem;">{{item.price | currency:'EUR'}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">There are no order for this product yet.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
    </p-table>
  </div>
</div>
